ENABLE_IPV6_LAN=true
LAN_INTERFACE=eth0
WARP_INTERFACE=CloudflareWARP
LAN_IPV4_ADDRESS=192.168.0.2
LAN_IPV6_ADDRESS=fd42:5741:5250::2
SLAAC_PREFIX=fd42:5741:5250::/64

# Optional recursive DNS servers to advertise with RDNSS.
# SLAAC_RDNSS=2606:4700:4700::1111 2606:4700:4700::1001
